# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Where's Blake?
email: blake@bengtson.us
description: "Blake's RV travel blog with informational content about full time RVing, boondocking, and the nomadic lifestyle"
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://wheresblake.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: 
github_username:  bbeng89

cdn: "https://dumphole.bbeng89.com/wheresblake"

# Build settings
markdown: kramdown
theme: null
plugins:
  - jekyll-feed

permalink: pretty

timezone: America/Chicago

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - serve
  - new-post

