---
layout: base
title: National Parks
---

{% assign current_destination = site.categories.destinations.first %}
{% assign current_update = site.categories.updates.first %}

{% capture header_line1 %}
    <i class="fas fa-tree" title="National Parks"></i> <br/> {{ page.title }} 
{% endcapture %}

{% capture header_line2 %}
    {{ site.tags.national-park | size }} National Parks Visited (so far)
{% endcapture %}

<a class="banner-link" href="/">
    {% if current_update.override_home_banner %}
        {% include header_banner.html banner=current_update.banner banner_font=current_update.banner_font line1=header_line1 line2=header_line2 %}
    {% elsif current_destination.banner %}
        {% include header_banner.html banner=current_destination.banner banner_font=current_destination.banner_font line1=header_line1 line2=header_line2 %}
    {% else %}
        {% include header_plain.html line1=header_line1 line2=header_line2 %}
    {% endif %}
</a>

<div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div id="contiguous-map" style="width: 100%; height: 450px"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 mb-3">
            <div id="alaska-map" style="width: 100%; height: 200px"></div>
        </div>
        <div class="col-md-3 mb-3">
            <div id="hawaii-map" style="width: 100%; height: 200px"></div>
        </div>
        <div class="col-md-3 mb-3">
            <div id="samoa-map" style="width: 100%; height: 200px"></div>
        </div>
        <div class="col-md-3 mb-3">
            <div id="virgin-islands-map" style="width: 100%; height: 200px"></div>
        </div>
    </div>
    <div id="map-legend">
        <ul class="list-inline">
            <li class="list-inline-item"><img src="/assets/img/markers/pin-green.png"> Visited</li>
            <li class="list-inline-item"><img src="/assets/img/markers/pin-gray.png"> Not Visited</li>
        </ul>
    </div>
    
    <hr/>
    {% for post in site.tags.national-park %}
        {% if post.banner %}
            {% assign bg_color = "rgba(0, 0, 0, 0.3)" %}
            {% assign text_style = "color: white" %}
            {% assign button_attrs = 'class="btn btn-outline-light"' %}
        {% else %}
            {% assign bg_color = "" %}
            {% assign text_style = "" %}
            {% assign button_attrs = 'class="btn btn-outline-primary"' %}
        {% endif %}
        
        <div class="card mt-3 mb-3" style="border: none; background-image: url({{ post.banner }}); background-size:cover; min-height: 210px">
            <div class="card-body d-flex align-items-center justify-content-center" style="background-color: {{ bg_color }}; ">
                <div style="width: 100%">
                    <h3 style="{{ text_style }}">{{ post.title }} </h3>
                    <h6 class="mt-3 mb-3" style="{{ text_style }}">{{ post.date | date: "%A, %B %e, %Y" }}</h6>
                    <a href="{{ post.url }}" {{ button_attrs }}>Read More &raquo;</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script src="/assets/js/mapstyles.js?{{site.time | date: '%s%N'}}"></script>
<script src="/assets/js/parkmap.js?{{site.time | date: '%s%N'}}"></script>
<script>
    var allParks = {{ site.data.us_national_parks | jsonify }};

    var maps = [
        new ParkMap(allParks.contiguous, 'contiguous-map'),
        new ParkMap(allParks.alaska, 'alaska-map', 2),
        new ParkMap(allParks.hawaii, 'hawaii-map', 5),
        new ParkMap(allParks.american_samoa, 'samoa-map', 10),
        new ParkMap(allParks.virgin_islands, 'virgin-islands-map', 11)
    ];

    function initMaps() {
        for(let map of maps) {
            map.init()
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAAJe34ANGnmTzf--hAkQsqmRpxEwDJc&callback=initMaps" type="text/javascript"></script>