---
layout: base
title: Stats
---

{% assign current_destination = site.categories.destinations.first %}
{% assign current_update = site.categories.updates.first %}

{% capture header_line1 %}
    <i class="fas fa-chart-bar"></i>
    <br/>
    {{ page.title }} 
{% endcapture %}

<a class="banner-link" href="/">
    {% if current_update.override_home_banner %}
        {% include header_banner.html banner=current_update.banner banner_font=current_update.banner_font line1=header_line1 line2=header_line2 %}
    {% elsif current_destination.banner %}
        {% include header_banner.html banner=current_destination.banner banner_font=current_destination.banner_font line1=header_line1 line2=header_line2 %}
    {% else %}
        {% include header_plain.html line1=header_line1 line2=header_line2 %}
    {% endif %}
</a>

<div class="container text-center mt-5 mb-5">
    {% include data/stats.html %}

    <div class="col-lg-8 offset-lg-2">
        <div id="travel-and-camping" class="card mb-3 mt-3">
            <div class="card-header">Travel and Camping Stats</div>
            <table class="table stats-table">
                <tr>
                    <td>Towing Miles</td>
                    <td>{% include number_with_commas.html number=rounded_miles %}</td>
                </tr>
                <tr>
                    <td>Campsites</td>
                    <td>{{ num_campsites }}</td>
                </tr>
                <tr>
                    <td>Total Nights</td>
                    <td>{{ num_nights }}</td>
                </tr>
                <tr>
                    <td>Avg. Nights Per Campsite</td>
                    <td>{{ avg_nights_per_campsite }}</td>
                </tr>
                <tr>
                    <td>Total Camping Cost</td>
                    <td>${% include number_with_commas.html number=rounded_cost %}</td>
                </tr>
                <tr>
                    <td>Avg. Cost Per Night</td>
                    <td>${{ avg_cost_per_night | round: 2 }}</td>
                </tr>
                <tr>
                    <td>States</td>
                    <td>{{ num_states }}</td>
                </tr>
                <tr>
                    <td>National Parks</td>
                    <td>{{ num_nat_parks }}</td>
                </tr>
                <tr>
                    <td>Boondocking Nights</td>
                    <td>{{ boondocking_nights }}</td>
                </tr>
            </table>
        </div>
    </div>

        <div class="col-lg-8 offset-lg-2">
            <div id="campsites-by-state" class="card mb-3 mt-3">
                <div class="card-header">Nights Per State</div>
                <div class="card-body" id="app">
                    <camping-map :state-data='{% include data/states_visited.html %}' />
                </div>
            </div>
        </div>

        <div class="col-lg-8 offset-lg-2">
            <div id="hookups" class="card mb-3 mt-3">
                <div class="card-header">Nights by Hookup Type</div>
                <div class="card-body">
                    <div style="max-width: 600px; max-height: 600px">
                        <canvas id="hookupChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% include data/camping_nights.html %}
<script>
    function getRandomColor() {
        return Math.floor(Math.random()*16777215).toString(16);
    }
    function randomColors(count) {
        var randomColors = [];
        for(var i = 0; i < count; i++) {
            var color = getRandomColor();
            while(randomColors.includes(color))
            {
                color = getRandomColor();
            }
            randomColors.push('#'+color);
        }
        return randomColors;
    }

    var hookupData = {
        datasets: [{
            data: [CAMPING_NIGHTS.none, CAMPING_NIGHTS.partial, CAMPING_NIGHTS.full],
            backgroundColor: randomColors(3)
        }],
        labels: ["No Hookups", "Partial Hookups", "Full Hookups"]
    };
    
    var defaultOptions = {
        legend: {
            display: true,
            position: 'right',
            align: 'center'
        }
    };

    hookupCanvas = document.getElementById('hookupChart').getContext('2d');
    var hookupChart = new Chart(hookupCanvas, {
        type: 'pie',
        data: hookupData,
        options: defaultOptions
    });
</script>