<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card mb-3 mt-3">
            <div class="card-header">Campground</div>
                <table class="table">
                    <tbody>
                        {% if page.campground %}
                        <tr>
                            <td class="text-right"><strong>Name</strong></td>
                            <td class="text-left">{{ page.campground }}</td>
                        </tr>
                        {% endif %}
                        {% if page.hookups %}
                        <tr>
                            <td class="text-right"><strong>Hookups</strong></td>
                            <td class="text-left">{{ page.hookups }}</td>
                        </tr>
                        {% endif %}
                        {% if page.nights %}
                        <tr>
                            <td class="text-right"><strong>Nights</strong></td>
                            <td class="text-left">{{ page.nights }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Cost</strong></td>
                            <td class="text-left">
                                ${{ page.cost | floor}}
                                {% if page.cost > 0 %} 
                                    <small class="text-muted ml-1"><em>(${{ page.cost | divided_by: page.nights | floor }}/night)</em></small>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if page.review %}
                        <tr>
                            <td class="text-right"><strong>Review</strong></td>
                            <td class="text-left"><a href="{{ page.review }}" target="_blank">View on Campendium</a></td>
                        </tr>
                        {% endif %}
                        {% if page.tags %}
                        <tr>
                            <td class="text-right"><strong>Tags</strong></td>
                            <td class="text-left">
                                {% for tag in page.tags %}
                                    <span class="badge badge-primary">{{ tag }}</span> 
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
          </div>
    </div>
</div>