.img-slider {
    max-width: $post-img-width;
    margin: $post-img-margin;

    @media (max-width: 576px) {
        max-width: 300px;
    }
}

.slick-prev:before, .slick-next:before {
    color: #6c757d !important;
  }