#map {
    width: $map-width;
    height: $map-height;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

.update-feed {
    text-align: $home-feed-updates-alignment;
}

.article-feed {
    text-align: $home-feed-articles-alignment;
}