.post {

    text-align: $post-alignment;

    img {
        display: $post-img-display;
        margin: $post-img-margin;
        width: $post-img-width;
        @include img-fluid();
    }

    .insta {
        max-width: $post-insta-width;
        margin: $post-insta-margin;
    }

    .post-date {
        @include font-size($small-font-size);
        color: $gray-600;
        font-style: italic;
        margin: 30px 0 10px 0;

        &:before {
            content: '« ';
        }
        &:after {
            content: ' »';
        }
    }
}

.post-banner {
    height: 300px;
    background-size: cover;
}