.post {

    text-align: $post-alignment;

    p {
        text-align: $post-text-alignment;
    }

    img {
        display: $post-img-display;
        margin: $post-img-margin;
        width: $post-img-width;
        @include img-fluid();

        &:not(.lightbox-ignore) {
            cursor: pointer;
        }
    }

    .img-slider {
        max-width: $post-img-width;
        margin: $post-img-margin;

        @media (max-width: 576px) {
            max-width: 300px;
        }
    }

    .slick-prev:before, .slick-next:before {
        color: #6c757d !important;
      }

    .insta {
        max-width: $post-insta-width;
        margin: $post-insta-margin;
    }

    .post-date {
        @include font-size($small-font-size);
        color: $gray-600;
        font-style: italic;
        margin: 30px 0 10px 0;

        &:before {
            content: '« ';
        }
        &:after {
            content: ' »';
        }
    }
}

.post-banner {
    height: 300px;
    background-size: cover;
}
