// Bootstrap Overrides
$headings-font-family: 'Playfair Display', serif;

// Map
$map-width: 100%;
$map-height: 500px;

// Home Feed
$home-feed-alignment: center;

// Posts
$post-alignment: center;
$post-img-width: 500px;
$post-img-display: block;
$post-img-margin: 0 auto;
$post-insta-width: 540px;
$post-insta-margin: 0 auto;