<div class="home-feed">
    <h2 class="mt-5 mb-5">Updates</h2>
    {% for post in site.posts %}
        <div class="mb-4">
            <h3>
                {% if post.category == 'destinations' %}
                    <i class="fas fa-campground text-muted" title="Camping Location"></i>
                {% elsif post.category == 'articles' %}
                    <i class="fas fa-edit text-muted" title="Article"></i> 
                {% endif %}
                <a href="{{ post.url}}">
                    {{ post.title }}
                </a>
            </h3>
            <h6 class="text-muted">
                {{ post.date | date: "%A, %B %e, %Y" }}
            </h6>
        </div>
    {% endfor %}
</div>