---
---

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// Site variables - loaded before BS so variables can be overriden
@import "_variables";

// Stripped down bootstrap
@import "bootstrap4/functions";
@import "bootstrap4/variables";
@import "bootstrap4/mixins";
@import "bootstrap4/utilities";
@import "bootstrap4/root";
@import "bootstrap4/reboot";
@import "bootstrap4/type";
@import "bootstrap4/grid";
@import "bootstrap4/pagination";
@import "bootstrap4/badge";

// Site elements
@import "banner";
@import "home";
@import "posts";
@import "footer";
@import "destinations";
@import "articles";