<!doctype html>
<html lang="en">
    <head>
        {% include analytics.html %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="Blake Bengtson">
        {% if page.collection == 'posts' %}
            <title>{{ page.title }} ({{ page.date | date:"%-m/%-d/%y" }}) | Where's Blake?</title>
        {% elsif page.title %}
            <title>{{ page.title }} | Where's Blake?</title>
        {% else %}
            <title>Where's Blake?</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/css/site.css?{{site.time | date: '%s%N'}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/simpleLightbox.min.css">
    </head>
    <body>

        {{ content }}

        <footer class="container mt-5 mb-5">
            <hr/>
            <div class="row">
                <div class="col-lg-4">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="/"><i class="fas fa-home"></i></a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a href="/campsites">Campsites</a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a href="/articles">Articles</a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a href="/stats">Stats</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><small class="text-muted">Updated {{ site.time | date:"%B %e, %Y @ %l:%M %p" }}</small></li>
                    </ul>
                    <p class="text-muted text-center"><small>Map icons from <a href="http://icons8.com" target="_blank">icons8</a></small></p>
                </div>
                <div class="col-lg-4">
                    <ul class="social list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://github.com/bbeng89/bbeng89.github.io" target="_blank"><img src="/assets/img/github.png"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com/bbeng89" target="_blank"><img src="/assets/img/insta.png"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.campendium.com/users/133315" target="_blank"><img src="/assets/img/campendium.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </footer>
        <script async src="//www.instagram.com/embed.js"></script>
        <script src="/assets/js/simpleLightbox.min.js"></script>
        <script>
            SimpleLightbox.defaults.showCaptions = false;
            SimpleLightbox.defaults.urlAttribute = 'src';
            new SimpleLightbox({elements: '.post img:not(.lightbox-ignore), .article img:not(.lightbox-ignore)'});
        </script>
        <script src="/assets/apps/camping-map/js/chunk-vendors.js?{{site.time | date: '%s%N'}}"></script>
        <script src="/assets/apps/camping-map/js/app.js?{{site.time | date: '%s%N'}}"></script>
    </body>
</html> 
