---
layout: base
---

{% capture page_title %}
    <i class="fas fa-campground"></i> <br/> {{ page.title }}
{% endcapture %}

{% capture page_date %}
    {{ page.date | date: "%A, %B %e, %Y" }}
{% endcapture %}

<a class="banner-link" href="/">
    {% if page.banner %}
        {% include header_banner.html banner=page.banner banner_font=page.banner_font line1=page_title line2=page_date %}
    {% else %}
        {% include header_plain.html line1=page_title line2=page_date %}
    {% endif %}
</a>

{% for post in site.categories.destinations %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
{% endfor %}

{% for post in site.categories.destinations %}
    {% if post_index0 == forloop.index %}
        {% assign next_destination = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
        {% assign prev_destination = post %}
    {% endif %}
{% endfor %}


<div class="container mt-5">
    
    <div class="post">

        {% if prev_destination %}
            <p>Traveled {{ page.miles | floor }} miles from <a href="{{ prev_destination.url }}">{{ prev_destination.title }}</a></p>
        {% endif %}

        {{ content }}

        {% if site.tags[page.update_tag] %}
            <h2 class="mt-5 mb-5">Updates</h2>
            {% assign asc_posts = site.tags[page.update_tag] | reverse %}
            {% for post in asc_posts %}
                <div class="card mb-4">
                    <h3 class="card-title"><a href="{{ post.url}}">{{ post.title }}</a></h3>
                    <h6 class="card-subtitle text-muted">
                        {{ post.date | date: "%A, %B %e, %Y" }}
                    </h4>
                </div>
            {% endfor %}
        {% else %}
            {% assign latest_destination = site.categories.destinations.first %}
            {% if latest_destination.path == page.path %}
                <h2 class="mt-5 mb-5">Updates</h2>
                <p class="text-muted">No updates yet. Check back soon.</p>
            {% endif %}
        {% endif %}

        {% include pagination.html %} 
    </div>
</div>