---
layout: base
---

{% assign newest_post = site.posts.first %}
{% assign total_miles = 0 %}

{% for post in site.posts %}
  {% assign total_miles = total_miles | plus: post.miles %}
{% endfor %}

{% capture header_line1 %}
    Blake is {{ newest_post.home_title }}
{% endcapture %}

{% capture header_line2 %}
    He's traveled {{ total_miles | floor }} miles so far
{% endcapture %}

{% if newest_post.banner %}
    {% include header_banner.html banner=newest_post.banner banner_font=newest_post.banner_font line1=header_line1 line2=header_line2 %}
{% else %}
    {% include header_plain.html line1=header_line1 line2=header_line2 %}
{% endif %}

<div id="map"></div>

<div class="container">
    <div class="home-feed">
        <h2 class="mt-5 mb-5">Updates</h2>
    
        {% for post in site.posts %}
            <div class="card mb-4">
                <h3 class="card-title"><a href="{{ post.url}}">{{ post.title }}</a></h3>
                <h6 class="card-subtitle text-muted">
                    {{ post.date | date: "%A, %B %e, %Y" }}
                </h4>
                <span class="badge badge-pill badge-light">
                    {{ post.photos }} 
                    {% if post.photos == 1 %}
                        photo
                    {% else %}
                        photos
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
</div>

<script src="/assets/js/mapstyles.js"></script>
<script>
    var map;
    var markers = [];
    var path = [];
    var homeIconUrl = 'http://bbeng89.github.io/assets/img/home.png';
    var starIconUrl = 'http://bbeng89.github.io/assets/img/star.png';
    var locations = [
        {% for post in site.posts %}
            { 
                url: "{{ post.url }}",
                coords: { lat: {{ post.lat }}, lng: {{ post.lng }} } 
            },
        {% endfor %}
    ];

    // initialize path - only coordinates
    for(var i = 0; i < locations.length; i++) {
        path.push(locations[i].coords);
    }

    function initMap() {
        var bounds = new google.maps.LatLngBounds();

        map = new google.maps.Map(document.getElementById('map'), {
            // options
            gestureHandling: 'cooperative',
            styles: mapstyles.WY
        });

        for(var i = 0; i < locations.length; i++) {
            var location = locations[i];

            var settings = {
                position: location.coords,
                map: map
            };

            // they go in reverse chronological order
            if(i == 0) {
                settings.icon = starIconUrl;
            }
            else if(i == (locations.length - 1)) {
                settings.icon = homeIconUrl;
            }

            var marker = new google.maps.Marker(settings);
            addClickHandlerToMarker(marker, location.url);

            markers.push(marker);
            bounds.extend(marker.position);
        }

        map.fitBounds(bounds);
        setPath();
    }

    function addClickHandlerToMarker(marker, url) {
        marker.addListener('click', function() {
            window.location.href = url;
        })
    }

    function setPath() {
        var travelPath = new google.maps.Polyline({
            path: path,
            geodesic: true,
            strokeColor: '#3266ba',
            strokeOpacity: 0.5,
            strokeWeight: 3
        });

        travelPath.setMap(map);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAAJe34ANGnmTzf--hAkQsqmRpxEwDJc&callback=initMap"
type="text/javascript"></script>