---
layout: base
---

{% assign current_destination = site.categories.destinations.first %}
{% assign total_miles = 0 %}

{% for post in site.categories.destinations %}
  {% assign total_miles = total_miles | plus: post.miles %}
{% endfor %}

{% capture header_line1 %}
    Blake is {{ current_destination.home_title }}
{% endcapture %}

{% capture header_line2 %}
    He's traveled {{ total_miles | floor }} miles so far
{% endcapture %}

{% if current_destination.banner %}
    {% include header_banner.html banner=current_destination.banner banner_font=current_destination.banner_font line1=header_line1 line2=header_line2 %}
{% else %}
    {% include header_plain.html line1=header_line1 line2=header_line2 %}
{% endif %}

<div id="map"></div>

<div class="container">
    <div class="home-feed">
        <h2 class="mt-5 mb-5">Updates</h2>
    
        {% for post in site.posts %}
            <div class="card mb-4">
                <h3 class="card-title">
                    {% if post.category == 'destinations' %}
                        <i class="fas fa-campground text-muted"></i>
                    {% endif %}
                    <a href="{{ post.url}}">
                        {{ post.title }}
                    </a>
                </h3>
                <h6 class="card-subtitle text-muted">
                    {{ post.date | date: "%A, %B %e, %Y" }}
                </h6>
            </div>
        {% endfor %}
    </div>
</div>

<script src="/assets/js/mapstyles.js"></script>
<script src="/assets/js/travelmap.js"></script>
<script>
    var locations = [
        {% for post in site.categories.destinations %}
            { 
                url: "{{ post.url }}",
                coords: { lat: {{ post.lat }}, lng: {{ post.lng }} } 
            },
        {% endfor %}
    ];

    var travelMap = new TravelMap(locations);
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAAJe34ANGnmTzf--hAkQsqmRpxEwDJc&callback=travelMap.init" type="text/javascript"></script>