---
layout: base
---

{% assign current_destination = site.categories.destinations.first %}
{% assign current_update = site.categories.updates.first %}

{% include data/stats.html %}

{% capture header_line1 %}
    Blake is in {{ current_destination.city }}, {{ current_destination.state }}
{% endcapture %}

{% capture header_line2 %}
    He's traveled {% include number_with_commas.html number=rounded_miles %} miles so far
{% endcapture %}

{% if current_update.override_home_banner %}
    {% include header_banner.html banner=current_update.banner banner_font=current_update.banner_font line1=header_line1 line2=header_line2 %}
{% elsif current_destination.banner %}
    {% include header_banner.html banner=current_destination.banner banner_font=current_destination.banner_font line1=header_line1 line2=header_line2 %}
{% else %}
    {% include header_plain.html line1=header_line1 line2=header_line2 %}
{% endif %}

<div id="map"></div>
<div id="map-legend">
    <ul class="list-inline">
        <li class="list-inline-item"><img src="{{ site.cdn }}/img/markers/pin-red.png"> Loop 1</li>
        <li class="list-inline-item"><img src="{{ site.cdn }}/img/markers/pin-blue.png"> Loop 2</li>
        <li class="list-inline-item"><img src="{{ site.cdn }}/img/markers/pin-green.png"> Loop 3</li>
        <li class="list-inline-item"><img src="{{ site.cdn }}/img/markers/bonfire.png"> Current</li>
    </ul>
</div>

<div class="container">

    {% include stats_circles.html %}

    <div class="row">
        <div class="col-lg-6">
            <h2 class="mt-5 mb-5 text-center">Travel Updates</h2>
            {% include feed/travel_timeline.html limit=8 %}
        </div>
        <div class="col-lg-6">
            <h2 class="mt-5 mb-5 text-center">Recent Articles</h2>
            {% include feed/article_feed.html limit=4  %}
        </div>
    </div>
</div>

<script src="/assets/js/mapstyles.js?{{site.time | date: '%s%N'}}"></script>
<script src="/assets/js/travelmap.js?{{site.time | date: '%s%N'}}"></script>
<script>
    var locations = [
        {% for post in site.categories.destinations %}
            { 
                url: "{{ post.url }}",
                coords: { lat: {{ post.lat }}, lng: {{ post.lng }} },
                {% if post.tags contains 'loop2' %}
                pin: "{{ site.cdn }}/img/markers/pin-blue.png"
                {% elsif post.tags contains 'loop3' %}
                pin: "{{ site.cdn }}/img/markers/pin-green.png"
                {% else %}
                pin: "{{ site.cdn }}/img/markers/pin-red.png"
                {% endif %}
            },
        {% endfor %}
    ];

    var travelMap = new TravelMap(locations);
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAAJe34ANGnmTzf--hAkQsqmRpxEwDJc&callback=travelMap.init" type="text/javascript"></script>
