---
layout: base
---

{% assign destinations = site.categories.destinations | where:"update_tag", page.tags.first %}
{% assign destination = destinations.first %}

{% capture page_date %}
    {{ page.date | date: "%A, %B %e, %Y" }}
{% endcapture %}

{% if page.banner %}
    {% include header_banner.html banner=page.banner banner_font=page.banner_font line1=page.title line2=page_date %}
{% else %}
    {% if destination.banner %}
        {% include header_banner.html banner=destination.banner banner_font=destination.banner_font line1=page.title line2=page_date %}
    {% else %}
        {% include header_plain.html line1=page.title line2=page_date %}
    {% endif %}
{% endif %}


<div class="container mt-5">
    
    <div class="post">
        {{ content }}

        <div class="update-destination">
            <p><i class="fas fa-campground"></i> Camping Location</p>
            <h3><a href="{{ destination.url }}">{{ destination.title }}</a></h3>
        </div>

        <nav class="mt-5">
            <ul class="pagination justify-content-center">
                {% if page.previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ page.previous.url }}" tabindex="-1">&larr; Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Prev</a>
                    </li> 
                {% endif %}

                
                <li class="page-item">
                    <a class="page-link" href="/">Home</a>
                </li>
                
                {% if page.next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ page.next.url }}" tabindex="-1">Next &rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next &rarr;</a>
                    </li> 
                {% endif %}
            </ul>
        </nav>

        <div class="font-italic text-muted mt-5">
            *Note - If an image has this arrow icon 
            <img class="lightbox-ignore" src="/assets/img/insta-arrow.png" style="width:23px; display:inline;"> 
            on the right side then it is a gallery. Click the arrow or swipe to view additional photos.
        </div>
    </div>
</div>